<div class="incidents-list-container">
  <div class="filters">
    Filters: TBD
  </div>
  <div class="incidents-list">
    <!-- card -->
    <mat-card *ngFor="let incident of theftsList"
              class="incident-card">
      <!-- header -->
      <mat-card-header>
        <mat-card-title>{{ incident.title }}</mat-card-title>
        <mat-card-subtitle>{{ incident.address }}</mat-card-subtitle>
      </mat-card-header>
      <!-- img -->
      <img mat-card-image
           [src]="incident.media.image_url_thumb"
           alt="Missing Photo"
           class="card-img">
      <!-- body text -->
      <mat-card-content class="card-body">
        <p>
          {{ incident.description }}
        </p>
      </mat-card-content>
      <!-- buttons -->
      <mat-card-actions class="card-buttons">
        <button mat-button
                (click)="onClick_Incident(incident)"
                color="accent">
          More Details
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="list-paginator">
    <mat-paginator [length]="listState.length"
                   [pageSize]="listState.pageSize"
                   [pageSizeOptions]="listState.pageSizeOptions"
                   (page)="onChange_Paginator($event)"
                   color="accent">
    </mat-paginator>
  </div>
</div>