$accent-color: #69f0ae;

.incident-details-container
{
  max-width: 1600px;
  margin: 0 auto;
  color: white;

  .incident-details
  {
    padding: 12px 24px;

    .row
    {
      display: flex;
      margin-top: 12px;

      .column
      {
        width: 50%;
      }
    }

    .title
    {
      color: $accent-color;
      font-size: 34px;
      margin-bottom: 12px;
      text-decoration: underline;
    }
    .property
    {
      margin-top: 6px;
      font-size: 18px;

      .key
      {
        font-weight: bold;
      }
      .value
      {
        color: $accent-color;
        padding-left: 6px;
      }
      .value-error
      {
        color: red;
      }
    }

    .img
    {
      width: 100%;
      height: 600px;
      background-size: cover;
    }
    .map
    {
      margin: 12px;
      border: 1px solid red;
    }
  }

  .no-info
  {
    text-align: center;
    padding: 64px;
    font-size: 22px;

    .no-info-icon
    {
      font-size: 128px;
      width: 128px;
    }
  }
}