<!-- TBD
  Case title
- Written description of stolen item
- Date of theft
- Date of report of theft
- Location of theft that will be displayed on a map (google map or equivalent)
- Picture of the stolen bike, if available 

- empty
-->

<div class="incident-details-container">

  <div *ngIf="bikeTheft" class="incident-details">
    <h1>{{ bikeTheft.title }}</h1>
    <p>
      {{ bikeTheft.description }}
    </p>
    <div>
      Date of theft: {{ bikeTheft.dateTheft | dateTime }}
    </div>
    <div>
      Date of report of theft: {{ bikeTheft.dateReport | dateTime }}
    </div>
    <div>
      Location (map) TBD
    </div>
    <div>
      <img [src]="bikeTheft.media.imageUrl" />
    </div>
  </div>

  <div *ngIf="!bikeTheft" class="empty-incident">
    <mat-icon class="icon-empty">report_gmailerrorred</mat-icon>
    <div>
      Incident not found
    </div>
  </div>
</div>