.application-container
{
  height: 100%;
  display: flex;
  flex-direction: column;

  .header-container
  {
  }
  .body-container
  {
    flex: 1;
    background-color: gray;
    overflow: auto;
  }
  .footer-container
  {
  }
}